<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotéis</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <h1>Hotelugue.com</h1>
        <nav>
            <a href="contato.html">Contato</a>
            <a href="hoteis.html">Hotéis</a>
            <a href="pagamento.html">Pagamento</a>
            <a href="../index.html">Home</a>
        </nav>
    </header>
    <main>
        <article>
            <h3>Hotel Concord</h3>
            <p>&#9733&#9733&#9733&#9733&#9734</p>
            <img src="https://lh3.googleusercontent.com/gps-cs-s/AHRPTWkRkZsYcTtvt7DesO3JlQYDKh_SHsoTi22NgAbR7RAvR5SbEFWG0rGHn4a88H-nnoPmmPjXuvENxhSe4_0ldBj6DUCmXKA34zvBQN_7Y7DAZVdxEc639xW_ZermymHLBdH3pNu6nRnpMKtP=s680-w680-h510-rw" alt="Faixada do hotel">
            <p>Preço por noite: R$249,00</p>
            <p>Endereço: <a href="https://www.google.com/maps/dir//Hotel+Concord,+Av.+Cal%C3%B3geras,+1624+-+Centro,+Campo+Grande+-+MS,+79002-004/@-20.471157,-54.6825982,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x9486e604c42e2e1f:0x54a6992da8935ded!2m2!1d-54.6182081!2d-20.4680535?entry=ttu&g_ep=EgoyMDI2MDkxNi4wIKXMDSoASAFQAw%3D%3D">Hotel Concord, Av. Calógeras, 1624 - Centro, Campo Grande - MS, 79002-004</a></p>
            <p>Localizado, a 400m da Avenida Afonso Pena, a principal área comercial da cidade, com vários bares e restaurante, o Hotel Concord fornece energia solar 100% limpa para seus 84 apartamentos e 3 salões de eventos, estando aptos para atender eventos sociais, coorporativos, cursos e os mais variados fins.</p>
            <button>Ver mais</button>
        </article>
    
        <article>
            <h3>Ibis Budget</h3>
            <p>&#9733&#9733&#9733&#9734&#9734</p>
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/914552165.jpg?k=deed5a00986921736ca49efbe95563da5acc8c04b783f75c8e98f58fa2e1eb73&o=" alt="Faixada Ibis">
            <p>Preço por noite: R$143,00</p>
            <p>Endereço: <a href="https://www.google.com/maps/place/Ibis+Budget+Campo+Grande/@-20.4467424,-54.5674689,17z/data=!3m1!4b1!4m9!3m8!1s0x9486e8e26a7def01:0x2565e09da48d82ad!5m2!4m1!1i2!8m2!3d-20.4467424!4d-54.5674689!16s%2Fg%2F1q6cm3mrq?entry=ttu&g_ep=EgoyMDI2MDkxNi4wIKXMDSoASAFQAw%3D%3D">Av. Mato Grosso, 5617 - Carandá Bosque, Campo Grande - MS, 79031-000</a></p>
            <p>O ibis budget Campo Grande é um hotel 2 estrelas econômico e moderno localizado no bairro Carandá Bosque, oferecendo hospedagem funcional com excelente custo-benefício em Campo Grande, MS. Fica a poucos minutos a pé do Parque das Nações Indígenas e do Parque dos Poderes.</p>
            <button>Ver mais</button>
        </article>
        
        <article>
            <h3>Carandá Hplus Express</h3>
            <p>&#9733&#9733&#9733&#9733&#9734</p>
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/837020508.jpg?k=218412a33a36de97a659228317701ac1420719aad00b9982426da099610e5d93&o=" alt="Faixada Carandá">
            <p>Preço por noite: R$248,00</p>
            <p>Endereço: <a href="https://www.google.com/maps/place/Carand%C3%A1+Hplus+Express/data=!4m2!3m1!1s0x9486e8e44d469a8d:0xce8f18f91af0c530?sa=X&ved=1t:242&ictx=111">Av. Mato Grosso, 4903 - Carandá Bosque, Campo Grande - MS, 79031-000</a></p>
            <p>O Carandá Hplus Express é um hotel localizado na Avenida Mato Grosso, em Campo Grande, Mato Grosso do Sul, focado em praticidade e conforto para viagens a negócios ou lazer</p>
            <button>Ver mais</button>
        </article>
        
        <article>
            <h3>Hotel Central Campo Grande</h3>
            <p>&#9733&#9733&#9733&#9733&#9734</p>
            <img src="https://lh3.googleusercontent.com/grass-cs/ACvplmN7V76n_eg7kZ8gSN1Qhdus8UyUcSbZB0jeGTHvinHX1wAjaynb0L-PjcTWae7q67BCAIwM93jt9Xfq-sWnlLFerq6eKyFAOyOPjv0HA4MDhP_cQ96vrAJVTpN8gXVy9XcXsbSg=w324-h312-n-k-no" alt="Faixada Hotel Central">
            <p>Preço por noite: R$216,00</p>
            <p>Endereço: <a href="https://www.google.com/maps/place/Hotel+Central+Campo+Grande/data=!4m2!3m1!1s0x9486e62484f3d693:0x80866fab4b5306b2?sa=X&ved=1t:242&ictx=111">R. Mal. Rondon, 1396 - Centro, Campo Grande - MS, 79002-337</a></p>
            <p>O Hotel Central Campo Grande é um prédio histórico revitalizado localizado no centro da capital de Mato Grosso do Sul, ao lado do Shopping Pátio Central</p>
            <button>Ver mais</button>
        </article>
    </main>
    <footer>
        <p>Problemas técnicos? Entre em contato conosco!:</p>
        <p>Email | Telefone</p>
    </footer>
    <!--<p>&#9734</p> Estrela vazia-->
    <!--<p>&#9733</p> Estrela cheia-->
</body>
</html>