<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoteis</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
    <nav>
        <h1>Hotelugue.com</h1>
        <a href="contato.html">Contato</a>
        <a href="hoteis.html">Hotéis</a>
        <a href="pagamento.html">Pagamento</a>
        <a href="../index.html">Home</a>
    </nav>
    </header>
    <div>
        <h3>Hotel Concord</h3>
        <p>&#9733&#9733&#9733&#9733&#9734</p>
        <img src="https://lh3.googleusercontent.com/gps-cs-s/AHRPTWkRkZsYcTtvt7DesO3JlQYDKh_SHsoTi22NgAbR7RAvR5SbEFWG0rGHn4a88H-nnoPmmPjXuvENxhSe4_0ldBj6DUCmXKA34zvBQN_7Y7DAZVdxEc639xW_ZermymHLBdH3pNu6nRnpMKtP=s680-w680-h510-rw" height="264px" width="400px" alt="Faixada do hotel">
        <p>Preço por noite: R$249,00</p>
        <p>Endereço: <a href="https://www.google.com/maps/dir//Hotel+Concord,+Av.+Cal%C3%B3geras,+1624+-+Centro,+Campo+Grande+-+MS,+79002-004/@-20.471157,-54.6825982,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x9486e604c42e2e1f:0x54a6992da8935ded!2m2!1d-54.6182081!2d-20.4680535?entry=ttu&g_ep=EgoyMDI2MDkxNi4wIKXMDSoASAFQAw%3D%3D">Hotel Concord, Av. Calógeras, 1624 - Centro, Campo Grande - MS, 79002-004</a></p>
    </div>
    <!--<p>&#9734</p> Estrela vazia-->
    <!--<p>&#9733</p> Estrela cheia-->

    <hr>
    <footer>
        <p>Problemas técnicos? Entre em contato conosco!:</p>
        <p>Email | Telefone</p>
    </footer>
</body>
</html>